<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
  		src="https://code.jquery.com/jquery-2.2.4.min.js"
  		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  		crossorigin="anonymous"></script>
    <!--<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>-->
    <script src="/javascript/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300:300,400" rel="stylesheet">
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/locale/de.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="header">
        <h1><%= title %><a>/details</a></h1>
        <div id="menu">
            <a href="/newsfeed"><i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i></a><a href="/"><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></a> <a href="/replied"><i class="fa fa-commenting-o fa-3x" aria-hidden="true"></i></a> <a href="/voted"><i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i></a> <a href="/hashtags"><i class="fa fa-search fa-3x" aria-hidden="true"></i></a> 
        </div>   
    </div>
    <div id="details" class="list"></div>
    <div id="footer_shadow" class="footer_shadow"></div>
    <div class="footer">
        <a href="https://github.com/kanonenfutter/njodel">Github-Repo</a>
        <%= title %> ist ein einfacher Jodelclient.

    </div>
    <script type="text/javascript">
    // Contains the ID of the last/newest reply
    var last_post_id = null;
    var post_id = "<%= id %>";
    console.log(post_id);
    var first_post_id = null;
    $(document).ready(function () {
    	var url = "/posts/" + post_id;
		getJodel(url, "#details", false);


        // Infinite Scroll
        $(window).scroll(function () {
            if (last_post_id != null) {
                if ($(window).scrollTop() >= $(document).height() - $(window).height()-1) {
                    var url = '/posts/' + post_id + '/' + last_post_id;
                    getJodel(url, "#details", false);
                    console.log("done loading more replys");
                }
            }
        });    
    });
    </script>
  </body>
</html>
