<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
  		src="http://code.jquery.com/jquery-2.2.4.min.js"
  		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  		crossorigin="anonymous"></script>
    <!--<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>-->
    <script src="/javascript/script.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300:300,400" rel="stylesheet">
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/locale/de.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
  </head>
  <body class="error">
    <div id="list">
        <h1 class="error"><%= message %></h1>
		<h2 class="error"><%= error.status %></h2>
		<pre class="error"><%= error.stack %></pre>
    </div>
  </body>
</html>
