<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link id='pagestyle' rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <script type="text/javascript">
        function swapStyleSheet(sheet) {
            document.getElementById('pagestyle').setAttribute('href', sheet);
            localStorage.setItem("pagestyle_href", sheet);
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="http://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <!--<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>-->
    <script src="/javascript/script.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300:300,400" rel="stylesheet">
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/locale/de.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
  </head>
  <body>
    <div class="header">
        <h1><%= title %><a>/<%= mode %></a></h1>
        <div id="menu">
            <a href="/"><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></a> <a href="/replied"><i class="fa fa-commenting-o fa-3x" aria-hidden="true"></i></a> <a href="/voted"><i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i></a> <a href="/hashtags"><i class="fa fa-search fa-3x" aria-hidden="true"></i></a><a href="/config"><i class="fa fa-cog fa-3x" aria-hidden="true"></i></a>
        </div>   
    </div>
    <div id="search-anchor"></div>
    <div id="search" class="list">
            <input id="query" class="input" type="text" placeholder="Hashtag ohne #" >
            <button type="button" onclick="search()">suchen</button>
    </div>
    <div id="list" class="container list">
        <!-- Insert Jodels -->
    </div>
    <div class="footer">
        <a href="https://github.com/kanonenfutter/njodel">Github-Repo</a>
        <%= title %> ist ein einfacher Jodelclient.

    </div>
    <script type="text/javascript">
    swapStyleSheet(localStorage.getItem("pagestyle_href"));
    var next = null;
    var post_id = "";
    var first_post_id = null;
    $(document).ready(function () {
        var url = "/recent";
        var query_el = document.getElementById("query");
        query_el.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {
                search();
            }
        });


        $(window).scroll(function () {
            if (next != null) {
                if ($(window).scrollTop() >= $(document).height() - $(window).height()-1) {
                    var url = '/posts/' + post_id + '/' + next;
                    getJodel(url, "#details", false);
                    console.log("done loading more replys");
                }
            }
        }); 
        $("img.lazy").lazyload({ 
            effect: "fadeIn" 
        }).removeClass("lazy");
        $(document).ajaxStop(function(){
            $("img.lazy").lazyload({ 
                effect: "fadeIn" 
            }).removeClass("lazy");
        });       
    });


    function search() {
        var hashtag = $('#query').val();
        var url = "/hashtags/"+ hashtag;
        $("#list").empty();
        $.getJSON(url)
            .done(function (data) {
                console.log(data);
                // other options for "data.recent": data.replied, data.voted.
                $.each( data.recent, function (i, item) {
                    var age = moment(item.created_at).fromNow();

                    if (item.image_url == null) {
                    $("#list").append('<div class="jodel" style="background-color: #' + 
                        item.color + ';"> <div class="msg">' +  
                        item.message + '</div><div class="karma"> <p class="vote_count">'+
                        item.vote_count+'</p><br> <a class="res" id="'+
                        item.post_id+'" href="/details/'+ item.post_id + '">Zu den ' + item.child_count +  ' Antworten</a>' + ' ' + 
                        age +'</div></div>');
                    } else {
                        $("#list").append('<div class="jodel" style="background-color: #' + 
                            item.color + ';"><img src="" data-original="http:'+ 
                            item.image_url +'" class="lazy jimage"><div class="karma"> <p class="vote_count">'+
                            item.vote_count+'</p><br> <a class="res" id="'+
                            item.post_id+'" href="/details/'+ item.post_id + '">Zu den ' + item.child_count +  ' Antworten</a>' + ' ' + 
                            age +'</div></div>');
                    }
                });
            })
            .fail(function (xhr, status, error) {
                console.log(xhr);
                if (xhr.responseJSON.error == "Unauthorized") {
                    $("#list").append('<div class="jodel" style="background-color: grey;"><div class="msg">' + xhr.responseJSON.error + ': Could not read account data or your access token is expired/invalid.</div></div>');
                }
            })
            .always(function () {
                console.log("complete");
            });
    }

    </script>
  </body>
</html>
