<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>  -->
    <script
  		src="https://code.jquery.com/jquery-2.2.4.min.js"
  		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  		crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %> ist ein einfacher Jodelclient</p>
    <div id="list" class="container list">
    	<!-- Insert Jodels -->
    	
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
    	var url = "/recent";
    	$.getJSON(url)
    		.done(function (data) {
    			console.log(data.recent);
    			$.each( data.recent, function (i, item) {
    				$("#list").append('<div class="jodel" style="background-color: #' + item.color + ';"> <div class="msg">' + item.message + '</div><div class="karma">'+ item.vote_count + '</div></div>');
    			});
    		})
    		.fail(function () {
    			console.log("error");
    		})
    		.always(function () {
    			console.log("complete");
    		});
    });
    	
    </script>
  </body>
</html>
