<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>  -->
    <script
  		src="https://code.jquery.com/jquery-2.2.4.min.js"
  		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  		crossorigin="anonymous"></script>
    <!--<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300:300,400" rel="stylesheet">
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/locale/de.js"></script>
  </head>
  <body>
    <div class="header">
        <h1><%= title %></h1>
        <a href="/">Home</a>
        <p></p>    
    </div>
    <div id="list" class="container list">
    	<!-- Insert Jodels -->
    </div>
    <div id="details" class="list"></div>
    <div class="footer">
        <a href="https://github.com/kanonenfutter/njodel">Github-Repo</a>
        <%= title %> ist ein einfacher* Jodelclient.
        *sprich: Er zeigt die neusten, meist kommentiertesten oder populärsten Jodel in Köln. Je nach dem, worauf der Entwickler gerade Lust hat.

    </div>
    <script type="text/javascript">
    function getj() {
        console.log("hi");
    };
    var next = null;
    var post_id = "";
    $(document).ready(function () {
    	var url = "/recent";
        $("#details").hide();
        $.getJSON(url)
            .done(function (data) {
                console.log(data);
                $.each( data.replied, function (i, item) {
                    var age = moment(item.created_at).fromNow();

                    if (item.image_url == null) {
                    $("#list").append('<div class="jodel" style="background-color: #' + item.color + ';"> <div class="msg">' +  item.message + '</div><div class="karma"><a id="'+item.post_id +'" class="res" href="#">Zu den Antworten</a> - '+ item.child_count + ' Antworten - ' + age+ ' - ' +item.vote_count + ' Karma</div></div>');
                    } else {
                        $("#list").append('<div class="jodel" style="background-color: #' + item.color + ';"><img src="http:'+ item.image_url +'" alt="image" class="jimage"><div class="karma"><a id="'+item.post_id +'" class="res" href="javascript:getj()">Zu den Antworten</a> - '+ item.child_count + ' Antworten - ' +age+ ' - ' +item.vote_count + ' Karma</div></div>');
                    }
                });
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });

        $(window).on('scroll', function(){
            if( next!=null && ($(window).scrollTop() > $(document).height() - $(window).height() )) {
                var url = '/posts/' + post_id + '/' + next;
                getJodel(url, "#details");
                console.log("done loading more replys")
            }
        }).scroll();


        
    });
    $("div").on('click','a.res', function (){
        post_id = this.id;
        var url = "/posts/" + post_id;
        $("#list").hide("slide");
        getJodel(url, "#details");
        $("#details").show("slide");
    });

    function getJodel(url, element, set) {
        $.getJSON(url)
            .done(function (data) {
                console.log(data);
                if (data.next != null) {
                    next = data.next;
                    console.log(next);
                }
                if (data.details != null) {
                    var age = moment(data.details.created_at).fromNow();
                    if (data.details.image_url == null) {
                        $(element).append('<div class="jodel" style="background-color: #' + data.details.color + ';"> <div class="msg">' +  data.details.message + '</div><div class="karma">OJ - '+ age+ ' - ' +data.details.vote_count + ' Karma</div></div>');
                    } else {
                        $(element).append('<div class="jodel" style="background-color: #' + data.details.color + ';"><img src="http:'+ data.details.image_url +'" alt="image" class="jimage"><div class="karma">OJ - '+ age+ ' - ' +data.details.vote_count + ' Karma</div></div>');
                    }
                };
                $.each( data.replies, function (i, item) {
                    var age = moment(item.created_at).fromNow();
                    var replier = item.replier;
                    if (replier == 0) {
                        replier = "OJ";
                    } else {
                        replier = "#"+replier;
                    }

                    if (item.image_url == null) {
                    $(element).append('<div class="jodel" style="background-color: #' + item.color + ';"> <div class="msg">' +  item.message + '</div><div class="karma">'+ 'Verfasser: ' + replier + ' - ' + age + ' - ' + item.vote_count + ' Karma</div></div>');
                    } else {
                        $(element).append('<div class="jodel" style="background-color: #' + item.color + ';"><img src="http:'+ item.image_url +'" alt="image" class="jimage"><div class="karma">'+ 'Verfasser: ' + replier + ' - ' + age + ' - ' + item.vote_count + ' Karma</div></div>');
                    }
                });
                if (data.next != null) {
                    next = data.next;

                } else {
                    next = null;
                }

            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });
    };
    </script>
  </body>
</html>
