body {
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font: 20px "Source Sans Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}
div {
	border-style: solid;
  border-width: 0px;
  padding: 10px;

}

.jodel {
  margin-bottom: 1px;
  margin-top: 1px;
  color: white;
  padding: 0px;
  min-height: 100px;
  font-weight: 400;
}

.msg {
	float: left;
}
.karma {
	min-width: 50px;
  text-align: right;
}

.list {
	padding: 0px;

}

.jimage {
  width: 100%;
}